/* --- Universal Styles --- */

* {
    box-sizing: border-box;
}
html {
    font-family: 'Roboto Slab', Palatino, serif;
    font-size: 16px;
}
a {
    text-decoration: none;
    color: blanchedalmond;
}
a:hover {
    text-decoration: underline;
}
.dark {
    color: darkgray;
}
/* --- HEADER --- */
header {
    position: fixed;
    top: 0;
    display: flex;
    z-index: 100;
    align-items: center ;
    width: 100%;
    height: 85px;
    background-color: black;
    margin-top: 0;
    padding: 10px 25px;
}
header .company-name {
    justify-content: flex-start;
}
nav {
    margin-left: auto;
}

@media only screen and (max-width: 768px) {
    nav {
        display: none;
    }
}

/* --- BANNER --- */

#banner {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 84px;
    width: 100%;
    height: 500px;
    background-image: url(../img/hero-zig-crotch.jpg);
    background-size: cover;
    background-position: center;
    background-color: gray;
}
.banner-message {
    font-family: Raleway, sans-serif;
    display: block;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.4);
    text-align: center;
    padding: 25px
}
.banner-message h1, h4 {
    padding: 0;
    margin: 0;
}
.banner-message h1 {
    font-size: 2.5rem;
    letter-spacing: 0.4rem;
    margin-bottom: 10px;
}

@media only screen and (max-width: 768px) {
    #banner {
        width: 100%;
        height: 250px;   
    }
    .banner-message {
        padding: 5px;
    }
    .banner-message h1 {
        font-size: 2rem;
        margin-bottom: 5px;
    }
    .banner-message h4 {
        font-size: .8rem;
    }
}

/* --- MISSION --- */

#mission {
    display: block;
    position: relative;
    top: 150px;
    max-width: 1024px;
    margin: 0 auto;
}
.mission-card-container {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-around;
    width: 90%;
    margin: 0 auto;
}
#mission h2 {
    text-align: center;
}
.mission-card {
    display: grid;
    grid-template-areas: "image"
                         "image"
                         "image"
                         "caption";
    margin: 20px;
}
.mission-card img {
    background-color: gray;
    width: 250px;
    height: auto;
    grid-area: image;
}
.mission-card p {
    grid-area: caption;
    text-align: center;
    font-family: Raleway, sans-serif;
    font-weight: 500;
}

@media only screen and (max-width: 768px) {
    #mission {
        position: relative;
        top: 85px;
        width: 100%;
        margin: 0;
    }
    #mission h2 {
        font-size: 2rem;
    }
    .mission-card-container {
        width: 100%;
        justify-content: center;
        margin: 0 auto;
    }
    .mission-card {
        width: 100%;
        margin: 0;
    }
    .mission-card img {
        width: 80%;
        height: auto;
        margin: 0 auto;
    }
    .mission-card p {
        max-width: 100%;
        font-size: 1.5rem;
    }
}

/* --- TEAM --- */

#team {
    display: block;
    position: relative;
    top: 80px;
    max-width: 100%;
    border: 1px solid black;
    /* margin: 0 auto; */
    text-align: center;
    /* padding: 100px */
}
.team-card-container {
    display: flex;
    flex-flow: row nowrap;
    width: 80%;
    margin: 0 auto;
    /* border: 1px solid black; */
    align-content: stretch;
    justify-content: center;
}
.team-card {
    display: grid;
    grid-template: 5fr 1fr 3fr / 1fr;
    grid-column-gap: 0;
}
.team-card img {
    display: block;
    grid-row: 1 / span 5;
    width: 250px;
    height: 400px;
    /* border: 1px solid black; */
    border-right: 2px solid white;
    background: gray;
    margin: 0px;
}
#last-team-img {
    border-right: 0px;
}
.team-name {
    height: 50px;
    grid-row: 6 / span 1;
    font-family: Raleway, sans-serif;
    font-weight: 600;
    font-size: 1.5rem;
    margin: 0px;
    padding: 10px;
}
.team-card .skills {
    grid-row: 7 / span 3;
    height: 130px;
    margin: 0px;
}
#team ul {
    padding: 0;
    list-style-type: none;
}
#team ul li {
    margin-bottom: 12px;;
}

@media only screen and (max-width: 768px) {
    #team {
        position: relative;
        top: 180px;
        padding: 0;
        max-width: 100%;
        font-size: 50%;
        margin: 0 auto;
    }
    #team h2 {
        font-size: 1.5rem;
    }
    .team-card-container {
        display: flex;
        flex-flow: row nowrap;
        max-width: 100%;
    }
    .team-name {
        font-size: 1rem;
        height: auto;
    }
    .team-card img {
        max-width: 100%;
        height: auto;   
    }
}

/* --- CONTACT --- */

#contact {
    display: block;
    position: relative;
    top: 180px;
    width: 100%;
    background-color: black;
    /* border: 1px solid black; */
    padding: 10px 0px;
    margin: 0 auto;
    text-align: center;
}


/* --- FOOTER --- */

footer {
    display: flex;
    position: relative;
    top: 180px;
    align-items: center;
    width: 100%;
    height: 65px;
    /* border-top: 1px solid black; */
    background-color: black;
    padding: 0px 25px;
}
.copyright {
    justify-content: flex-start;
}
.feed-us {
    margin-left: auto;
}